body {
  font-family: 'Merriweather', serif;
  background-color: #121212;
  color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #1c1c1c;
  padding: 1rem;
  text-align: center;
}

header a, footer a {
  color: #f4f4f4;
  text-decoration: none;
}

.main {
  padding: 2rem;
}

h1, h2 {
  color: #e63946;
}

a {
  color: #f1fa8c;
  text-decoration: none;
}
